<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    {% with message = get_flashed_messages() %}
    {% if message %}
        <div class="flash-message">{{ message[0] }}</div>  <!-- Solo mostramos el primer mensaje -->
    {% endif %}
    {% endwith %}

    <h1>Bienvenido, {{ current_user.username }}!</h1>
    <p>Rol: {{ current_user.role.name }}</p>
    {% if current_user.role.name == 'staff' or current_user.role.name == 'admin' %}
    <a href="{{ url_for('admin_page') }}">Panel de Administración</a><br><br>
    {% endif %}
    <a href="{{ url_for('inbox') }}">Bandeja de Entrada</a><br><br>
    <a href="{{ url_for('logout') }}">Cerrar Sesión</a><br>
</body>
</html>
